<div class="header">
  <div class="header__logo" routerLink="/dashboard">
    <img alt="#" src="./assets/logo.png">
  </div>
  <div class="header__form" data-type="title">
    <div
      appGetTitle
      class="header__input"
      contenteditable="true"
    ></div>
  </div>
  <div *ngIf="!storeService.loading" class="icon__box">
    <mat-icon *ngIf="!storeService.update">cloud_done</mat-icon>
    <div *ngIf="storeService.update">
      <mat-icon>cached</mat-icon>
      <span>Сохранение...</span>
    </div>

  </div>
</div>
