@import "src/variabels";

.formula {
  position: absolute;
  top: $header-height+$toolbar-height;
  left: 0;
  right: 0;
  height: $formula-height;
  border-bottom: 1px solid #ccc;
  display: flex;
  font-size: 13px;
  width: 100%;
  align-items: center;
  padding: 0px 5px;
  line-height: 18px;
  tab-index: 3;
}

.formula__info {
  max-width: 85px;
  width: 100%;
  border-right: 2px solid #ccc;
}

.formula__ico {
  text-align: center;
  width: 42px;
  color: #ccc;
  font-weight: 500;
  font-size: 18px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
}

.formula__input {
  width: 100%;
}
