<div class="toolbar">

  <ul class="icon">
    <li class="icon__box">
      <mat-icon>format_bold</mat-icon>
    </li>
    <li class="icon__box">
      <mat-icon>format_italic</mat-icon>
    </li>
    <li class="icon__box">
      <mat-icon>strikethrough_s</mat-icon>
    </li>
    <li class="icon__box">
      <mat-icon>format_align_left</mat-icon>
    </li>
    <li class="icon__box">
      <mat-icon>format_align_center</mat-icon>
    </li>
    <li class="icon__box">
      <mat-icon>format_align_right</mat-icon>
    </li>
  </ul>


</div>
