<div appChangeColor class="toolbar">
  <ul *ngIf="icons" class="icon">
    <li
      (click)="onClick($event, icon)"
      *ngFor="let icon of icons"
      class="icon__box">
      <a *ngIf="!icon.type">
        <mat-icon
          [attr.data-type]="icon.type"
          [ngClass]="{'active': icon.active}"
        >{{ icon.name }}</mat-icon>
      </a>
      <a
        *ngIf="icon.type"
        class="dropdown-box">
        <mat-icon
          [attr.data-type]="icon.type"
          [style]="icon.style"
        >{{ icon.name }}</mat-icon>
        <ul
          *ngIf="type === icon.type && toggle"
          class="dropdown">
          <li *ngFor="let data of colors">
            <div
              (click)="changeColor(data.color)"
              [ngClass]="{'c-w': data.color === '#000'}"
              [ngStyle]="{'background-color': data.color}"
              class="item"></div>
          </li>
        </ul>
      </a>
    </li>
  </ul>


</div>
