<app-auth-page (close)="auth = false" *ngIf="auth"></app-auth-page>

<div class="container">
  <header class="header">
    <a class="header__logo" routerLink="/dashboard">
      <img alt="" src="./assets/logo.png">
      <h1>Таблица</h1>
    </a>

    <div class="header__btn">
      <button
        (click)="auth = true"
        *ngIf="!authService.isAuthenticated()"
        class="btn btn-primary"
      >Войти
      </button>
      <button
        (click)="authService.logout()"
        *ngIf="authService.isAuthenticated()"
        class="btn btn-danger"
        href="#"
      >Выйти
      </button>
    </div>

  </header>

</div>
<div class="dashboard">
  <div class="create">
    <div class="container">
      <h2 class="title">
        Создать таблицу
      </h2>

      <div class="create__box">
        <div (click)="create($event)" class="create__icon">
          <mat-icon>add</mat-icon>
        </div>
      </div>
      <div class="create__description">
        <p>Пустой файл</p>
      </div>
    </div>

  </div>

  <div class="list">
    <div class="container">
      <div class="list__header">
        <span>Название</span>
        <span>Дата</span>
      </div>
      <ul class="list__item ">
        <li>
          <span>Название</span>
        </li>
        <li>
          <span>Дата</span>
        </li>
      </ul>
    </div>
  </div>
</div>
