.container {
  max-width: 1140px;
  padding: 0px 10px;
  margin: 0 auto;
}

.header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 60px;
  display: flex;
  align-items: center;

  h1 {
    margin: 0 10px;
    color: #777777;

  }

  img {
    width: 50px;
    height: 100%;
    object-position: center;
    object-fit: contain;
  }
}

.title {
  font-weight: 400;
}

.create {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(232, 232, 232, 0.58);
}

.create__box {
  max-width: 180px;
  max-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    border: 2px solid #4ca810;
  }

  mat-icon {
    width: 100%;
    height: 100%;
    font-size: 140px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.list {
  margin-top: 20px;
  font-size: 18px;
}

.list__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  font-weight: 500;
}

.list__item {

  li {
    position: relative;
    border-bottom: 1px solid #ccc;


    .btn-remove {
      position: absolute;
      right: 0px;
      top: 6px;
      opacity: 0;
      background-color: transparent;
      transition: all ease 0.3s;
    }

    &:hover {
      background-color: rgba(94, 148, 89, 0.49);
      border-radius: 25px;

      .btn-remove {
        right: 12px;
        opacity: 1;
      }
    }
  }

  mat-icon {
    &:hover {
      color: rgb(229, 0, 0);
    }
  }

  a {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;

    cursor: pointer;
    color: #000;
  }


  mat-icon {
    color: #980000;
  }

}

