<div class="table">

  <div class="row" id="0">

    <div class="row-info row-start">
      <div class="row-resize"></div>
    </div>

    <div class="row-data">
      <div class="column">
        A
        <div class="col-resize"></div>
      </div>
      <div class="column">B</div>
      <div class="column">C</div>
    </div>

  </div>
  <div class="row">

    <div class="row-info">
      1
      <div class="row-resize"></div>
    </div>

    <div class="row-data">
      <app-cell></app-cell>
      <app-cell></app-cell>
      <app-cell></app-cell>
    </div>

  </div>
  <div class="row">

    <div class="row-info">
      2
    </div>

    <div class="row-data">
      <app-cell></app-cell>
      <app-cell></app-cell>
      <app-cell></app-cell>
    </div>

  </div>
  <div class="row">

    <div class="row-info">
      3
    </div>

    <div class="row-data">
      <app-cell></app-cell>
      <app-cell></app-cell>
      <app-cell></app-cell>
    </div>

  </div>


</div>
