<div
  class="table"
  appSelectCell
  appSelectByKey
  (keyup)="onKeydown()"
>

  <div class="row" id="0">

    <div class="row-info row-start">
      <div class="row-resize"></div>
    </div>

    <div class="row-data">
      <div
        appCellState
        class="column"
        *ngFor="let col of cols; let idx = index"
        [attr.data-col]="col | getFromCharCode"
        (mousedown)="$event.preventDefault()"
      >
          {{ col | getFromCharCode}}

        <div class="col-resize" [attr.data-resize]="col | getFromCharCode" appResizeCol></div>
      </div>
    </div>

  </div>

  <div
    class="row"
    *ngFor="let row of rows; let numRow = index"
    [attr.data-row]="numRow + 1"
  >

    <div class="row-info" (mousedown)="$event.preventDefault()">
      {{ numRow + 1 }}
      <div class="row-resize" [attr.data-resize]="numRow + 1" appResizeRow></div>
    </div>

    <div class="row-data">
      <div
        *ngFor="let col of cols; let numCol = index"
        appCellState
        class="cell"
        contenteditable="true"
        [id]="[numCol + 1]+ ':' +[numRow + 1]"
        [attr.data-col]="col | getFromCharCode"
        [attr.data-type]="'cell'"
      ></div>
    </div>



  </div>


</div>
